<form class="col-xs-8 col-sm-8 col-md-8 col-lg-4 col-xl-4" id='searchbar' action="/caserecord" accept-charset="UTF-8" method="get">
	<div class="input-group">
		<input type="text" id="query" name="search" class="form-control" placeholder="Search party">
		<span class="input-group-btn">
		  <button type="submit" id="search-btn" class="btn btn-sm btn-success">
		    <i class="fa fa-search"></i>
		  </button>  
		</span>
	</div>
</form>	
