<button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="usermenu" data-toggle="dropdown"><i class="fa fa-user"></i> User</button>
<ul class="dropdown-menu">
<li><a href="../user/editprofile/<%= userId %>">Edit User Profile</a></li>  
<li><a href="../user/logout?_method=delete" rel="nofollow">Logut</a></li>
</ul>