<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">	
	<button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbar-menu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand float-lg-right float-xl-right" href="../">Daily Flow Limited</a>
	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="nav navbar-nav ml-auto mr-5 float-lg-right float-xl-right">
			<li class="nav-item"><a class="nav-link" href="../#homecontent" data-target="#homecontent">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="../#pricecontent" data-target="#pricecontent">Price</a></li>
			<li class="nav-item"><a class="nav-link" href="login" data-target="#Services">Services</a></li>
			<li class="nav-item"><a class="nav-link" href="/caserecord" data-target="#cases">Online Services</a></li>
		</ul>
	</div>
</nav>