<div id="home" class="row">
	<img src="images/background.jpg" id="background", class="col-12 col-lg-7 col-xl-7">
	<div class="col-10 col-lg-4 col-xl-4" id="home-contentbox">
		<div id="trapze"></div>
		<div id="homecontent">
			<div id="frontimg">
				<img src="images/search-icon.png">
			</div>
				<div id="who">
					<h2>Who We Are</h2>
					<p>Daily Flow Limited is dedicated to useful, effective and efficient services.</p>
					<p>If you are busy and concentrate on your major professional or business, we can help and find a solution for you.</p>
				</div>
				<br>
				<div id="contact">
					<h2>Contact Us</h2>
					<strong>Business Hours:</strong>
					<p>Monday to Friday: 10:00 to 18:00</p>
					<strong>Email : </strong><br>
					<a href="mailto:dailyflow@hgcbroadband.com" target="_top">dailyflow@hgcbroadband.com</a><br>
					<strong>Phone : </strong><p>852-26170328</p>
					<strong>Our Location:</strong>
					<p class="info">Hong Kong</p>
				</div>	
		</div>
	</div>	
</div>
<div id="price" class="row">
	<img src="images/background2.jpg"  id="background2" class="col-12 col-lg-7 col-xl-7 push-lg-5 push-xl-5 mx-auto">
	<div class="col-10 col-lg-5 col-xl-5 pull-lg-7 pull-xl-7 mx-auto" id="pricecontent">
		<h2>Price List</h2>
		<br>
		<h3>Company Search</h3>
		<table>
			<tr>
				<td id="s1" class="serviceType">Updated Statutory Company</td>
				<td class="price"align="right">HK$125</td>
			</tr>
		</table>
		<br>
		<h3>Land Search - Hong Kong</h3>
		<table>
			<tr>
				<td id="s2" class="serviceType">Current Records - each register</td>
				<td class="price" align="right">HK$50</td>
			</tr>
		</table>	
		<table>	
			<tr>
				<td id="s3" class="serviceType">Historical &amp; Current Records - each register</td>
				<td class="price" align="right">HK$70</td>
			</tr>
		</table>
		<br>
		<h3>Land Search - Singapore</h3>
		<table>
			<tr>
				<td id="s4" class="serviceType">Property Title Information - each register</td>
				<td class="price" align="right">HK$350</td>
			</tr>
		</table>
		<br>
		<h3>High Court Search</h3>
		<table>
			<tr>
				<td id="s5" class="serviceType">Each company name</td>
				<td class="price" align="right">HK$100</td>
			</tr>
		</table>
		<br>
		<h3>Memorial Search / Directorship Search / others</h3>
		<table>
			<tr>
				<td id="s6" class="serviceType">Email us for quoting</td>
			</tr>
		</table>		
	</div>
</div>